*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}
.contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin: auto;
}
.cuerpo{
    display: flex;
    background: linear-gradient(to bottom, rgb(0, 255, 191), rgba(46, 35, 75, 0.3));
}
body{
    background-repeat: repeat;
    background-image: url(/mosaico.gif);
    background-size: 100%;
  }
  .logo{
    margin-top: 2.5%;
    margin-left: 5%;
  }
  #textoLogo{
    margin: 70px;
  }
  legend{
    font-family: 'Birthstone', cursive;
    font-size: 32px;
    font-weight: bold;
  }
  h1{
    font-family: 'Quintessential', cursive;
  }
  h2{
    font-family: 'Bona Nova', serif;
  }
  h3{
    font-family: 'PT Sans Narrow', sans-serif
  }
  h4{
    font-family: 'Scheherazade New', serif;
  }
  .botones{
    width: 100%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
  }
  button{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding: 5px;
    background: linear-gradient(to bottom, rgb(0, 255, 191), rgba(46, 35, 75, 0.3));
    cursor: pointer;
  }
/*font-family: 'Bona Nova', serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Quintessential', cursive;
font-family: 'Birthstone',
font-family: 'Scheherazade New', serif;/*
