* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

.contenedor {
  top:25%;
  left: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  margin: auto;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
}

thead th {
  background-color: #55608f;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.logo {
  margin-top: 2.5%;
  margin-left: 5%;
}

/*Texto Index*/
#textoLogo {
  margin: 70px;
}

#fldINDEX {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
}
legend {
  font-family: 'Birthstone', cursive;
  font-size: 32px;
  font-weight: bold;
}

h1 {
  font-family: 'Quintessential', cursive;
}

h2 {
  font-family: 'Bona Nova', serif;
}

h3 {
  font-family: 'PT Sans Narrow', sans-serif
}

h4 {
  font-family: 'Scheherazade New', serif;
  text-align: justify;
}

/*Para mensajes de error*/
h5 {
  font-family: 'Bona Nova', serif;
  font-size: 38px;
  text-align: center;
}

/*Botones de Menú Principal*/
.botones {
  width: 100%;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

button {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 5px;
  cursor: pointer;
}

#tablaFRM {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  width: 100%;
}

/*Botones para Insertar, Eliminar y Modificar*/
.BotonesAcciones {
  background: #ff00734b;
  font-size: 18px;
  font-family: 'Scheherazade New', serif;
}

.BotonVolver {
  background: #ff00734b;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  font-family: 'Scheherazade New', serif;
  margin-top: 10px;
}

/*Botones para Insertar, Eliminar y Modificar*/
#BotonesAcciones {
  width: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  margin-left: 25%;
}

input {
  border-radius: 10px;
  font-size: 15px;
  font-style: oblique;
}

/*Botones de enviar y cancelar*/
#botonesformulario {
  text-align: center;
}

/*Botones de enviar y cancelar*/
.BotonesFormulario {
  background: #ff00734b;
  padding: 5px;
  cursor: pointer;
}
.botonesMenu{
  background: #ff00734b;
}

.Filtro {
  display: flex;
  width: 50%;
}
.errorField{
  display: flex;
  left: 25%;
}
/*boton error*/
.error {
  display: flex;
  left: 25%;
  background: #ff00734b;
}

.filaPAR {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

.filaIMP {
  font-family: 'Scheherazade New', serif;
  font-size: 20px;
}

#Filtrado {
  margin-top: 10px;
  font-size: 24px;
}

a:link {
  color: green;
  text-decoration: none;
  padding: 5px;
}

a:visited {
  color: #7D02A1;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  color: orange;
  text-decoration: underline;
  padding: 5px;
}

/*Mensaje de información para Consultas*/
.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
  margin-top: 15px;
  padding: 4px 12px;
}

.botonTotal {
  background: #fdcae1;
  padding: 5px;
  cursor: pointer;
  margin-left: 5%;
  font-size: 15px;
}

#total {
  display: none;
  margin-left: 30%;
  color: #fff;
}

.cuerpo {
  display: flex;
  border-radius: 12px;
}

.cuerpoCatalogo {
  width: 100%;
}